<h2><a href="https://resume.creddle.io/resume/dvmcjez43ob" style="text-decoration: underline">Resume</a></h2>
<h3>Projects:</h3>
<ul>
  <li>Oasis Mind Body and Skin<a href="http://www.oasismindbodyskin.com/"> Live</a></li>
  <li>Barter<a href="https://barter-hub.herokuapp.com/"> Live</a><a href="https://github.com/rimmesbe/Barter"> Source</a></li>
  <li>Recipe Book<a href="https://the-recipe-book.herokuapp.com/"> Live</a><a href="https://github.com/rimmesbe/RecipeBook"> Source</a></li>
</ul>

<h3>Recent Posts:</h3>

<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>